<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Rakeback label settings</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive_dummy">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group row">
                          <!-- <label for="" class="col-sm-2 col-form-label">VIP Label</label> -->
                          <div class="col-sm-3">
                            Rakeback label
                          </div>
                          <div class="col-sm-9">
                              Form
                          </div>
                      </div>
                      <div class="form-group row" *ngFor="let data of rackebackLabelData;let i =index">
                          <label for="" class="col-sm-3 col-form-label">{{data.rank}}</label>
                          <div class="col-sm-9">
                              <input (keyup)="checkPriorValidation(i, data.rakeback)" type="number"
                                  class="form-control form-control-sm" [(ngModel)]="data.rakeback"  min="0" max="100" >
                                  <div *ngIf="!data.rakeback" class="text-danger text-left">Enter valid value</div>
                              <div *ngIf="error[i] != ''" class="text-danger text-left">{{error[i]}}
                              </div>
                          </div>
                      </div>
                      <button [disabled]="isDisabel || isNotVaild" type="submit" (click)="updateRakeback()"
                          class="btn btn-primary">Update</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
